{
    "openapi": "3.1.0",
    "info": {
        "title": "Mailchimp Transactional API",
        "version": "1.4.0"
    },
    "servers": [
        {
            "url": "https://mandrillapp.com/api/1.4",
            "description": "Mailchimp Transactional API v1.4"
        }
    ],
    "paths": {
        "/allowlists/add": {
            "post": {
                "tags": [
                    "Allowlist"
                ],
                "summary": "Add email to allowlist",
                "description": "Adds an email to your email rejection allowlist. If the address is currently on your denylist, that denylist entry will be removed automatically.",
                "operationId": "allowlists/add",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllowlistsAddRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllowlistsAddResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/allowlists/list": {
            "post": {
                "tags": [
                    "Allowlist"
                ],
                "summary": "List allowlist entries",
                "description": "Retrieves your email rejection allowlist. You can provide an email address or search prefix to limit the results. Returns up to 1000 results.",
                "operationId": "allowlists/list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllowlistsListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllowlistsListResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/allowlists/delete": {
            "post": {
                "tags": [
                    "Allowlist"
                ],
                "summary": "Remove email from allowlist",
                "description": "Removes an email address from the allowlist.",
                "operationId": "allowlists/delete",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllowlistsDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllowlistsDeleteResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/exports/info": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "Get export job information",
                "description": "Returns information about an export job including status and download URL when complete.",
                "operationId": "exports/info",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExportsInfoRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/ExportNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportsInfoResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/exports/list": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "List export jobs",
                "description": "Returns a list of all export jobs for the account.",
                "operationId": "exports/list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExportsListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportsListResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/exports/rejects": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "Export rejection blacklist",
                "description": "Begins an export of your rejection blacklist. The blacklist will be exported to a zip archive containing a single file named rejects.csv.",
                "operationId": "exports/rejects",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExportsRejectsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportsRejectsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/exports/whitelist": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "Export rejection allowlist (legacy)",
                "description": "Begins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv.",
                "operationId": "exports/whitelist",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExportsWhitelistRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportsWhitelistResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/exports/allowlist": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "Export rejection allowlist",
                "description": "Begins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv.",
                "operationId": "exports/allowlist",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExportsAllowlistRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportsAllowlistResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/exports/activity": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "Export activity history",
                "description": "Begins an export of your activity history. The activity will be exported to a zip archive containing a single file named activity.csv with message details and custom metadata fields.",
                "operationId": "exports/activity",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExportsActivityRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportsActivityResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/list": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "List dedicated IPs",
                "description": "Lists your dedicated IPs.",
                "operationId": "ips/list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsListResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/ips/info": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Get dedicated IP information",
                "description": "Retrieves information about a single dedicated IP.",
                "operationId": "ips/info",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsInfoRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsInfoResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/ips/provision": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Request dedicated IP provisioning",
                "description": "Requests an additional dedicated IP for your account. Accounts may have one outstanding request at any time, and provisioning requests are processed within 24 hours.",
                "operationId": "ips/provision",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsProvisionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "404": {
                        "$ref": "#/components/responses/IPPoolNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsProvisionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/start-warmup": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Start IP warmup process",
                "description": "Begins the warmup process for a dedicated IP. During the warmup process, Mandrill will gradually increase the percentage of your mail that is sent over the warming-up IP, over a period of roughly 30 days. The rest of your mail will be sent over shared IPs or other dedicated IPs in the same pool.",
                "operationId": "ips/start-warmup",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsStartWarmupRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/IPNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsStartWarmupResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/cancel-warmup": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Cancel IP warmup process",
                "description": "Cancels the warmup process for a dedicated IP.",
                "operationId": "ips/cancel-warmup",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsCancelWarmupRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/IPNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsCancelWarmupResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/set-pool": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Move IP to different pool",
                "description": "Moves a dedicated IP to a different pool.",
                "operationId": "ips/set-pool",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsSetPoolRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/IPInvalidEmptyDefaultPool"
                    },
                    "404": {
                        "$ref": "#/components/responses/IPOrPoolNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsSetPoolResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/delete": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Delete dedicated IP",
                "description": "Deletes a dedicated IP. This is permanent and cannot be undone.",
                "operationId": "ips/delete",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsDeleteResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/list-pools": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "List dedicated IP pools",
                "description": "Lists your dedicated IP pools.",
                "operationId": "ips/list-pools",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsListPoolsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsListPoolsResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/ips/pool-info": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Get pool information",
                "description": "Describes a single dedicated IP pool.",
                "operationId": "ips/pool-info",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsPoolInfoRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/IPPoolNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsPoolInfoResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/ips/create-pool": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Create dedicated IP pool",
                "description": "Creates a pool and returns it. If a pool already exists with this name, no action will be performed.",
                "operationId": "ips/create-pool",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsCreatePoolRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsCreatePoolResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/delete-pool": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Delete dedicated IP pool",
                "description": "Deletes a pool. A pool must be empty before you can delete it, and you cannot delete your default pool.",
                "operationId": "ips/delete-pool",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsDeletePoolRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/IPInvalidDeletePool"
                    },
                    "404": {
                        "$ref": "#/components/responses/IPPoolNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsDeletePoolResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/check-custom-dns": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Test custom DNS configuration",
                "description": "Tests whether a domain name is valid for use as the custom reverse DNS for a dedicated IP.",
                "operationId": "ips/check-custom-dns",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsCheckCustomDnsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/IPNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsCheckCustomDnsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/set-custom-dns": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Configure custom DNS for IP",
                "description": "Configures the custom DNS name for a dedicated IP.",
                "operationId": "ips/set-custom-dns",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IPsSetCustomDnsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "400": {
                        "$ref": "#/components/responses/IPInvalidCustomDns"
                    },
                    "404": {
                        "$ref": "#/components/responses/IPNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPsSetCustomDnsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/domains": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "List inbound domains",
                "description": "List the domains that have been configured for inbound delivery.",
                "operationId": "inbound/domains",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InboundDomainsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundDomainsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/add-domain": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Add inbound domain",
                "description": "Add an inbound domain to your account.",
                "operationId": "inbound/add-domain",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InboundAddDomainRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundAddDomainResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/check-domain": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Check domain settings",
                "description": "Check the MX settings for an inbound domain. The domain must have already been added with the add-domain call.",
                "operationId": "inbound/check-domain",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InboundCheckDomainRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/InboundDomainNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundCheckDomainResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/delete-domain": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Delete inbound domain",
                "description": "Delete an inbound domain from the account. All mail will stop routing for this domain immediately.",
                "operationId": "inbound/delete-domain",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InboundDeleteDomainRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/InboundDomainNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundDeleteDomainResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/routes": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "List mailbox routes",
                "description": "List the mailbox routes defined for an inbound domain.",
                "operationId": "inbound/routes",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InboundRoutesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/InboundDomainNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundRoutesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/add-route": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Add mailbox route",
                "description": "Add a new mailbox route to an inbound domain.",
                "operationId": "inbound/add-route",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InboundAddRouteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/InboundDomainNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundAddRouteResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/update-route": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Update mailbox route",
                "description": "Update the pattern or webhook of an existing inbound mailbox route. If null is provided for any fields, the values will remain unchanged.",
                "operationId": "inbound/update-route",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InboundUpdateRouteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/InboundRouteNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundUpdateRouteResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/delete-route": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Delete mailbox route",
                "description": "Delete an existing inbound mailbox route.",
                "operationId": "inbound/delete-route",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InboundDeleteRouteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/InboundRouteNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundDeleteRouteResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/send-raw": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Send mime document",
                "description": "Take a raw MIME document destined for a domain with inbound domains set up, and send it to the inbound hook exactly as if it had been sent over SMTP.",
                "operationId": "inbound/send-raw",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InboundSendRawRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/InboundDomainNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundSendRawResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mctemplates/info": {
            "post": {
                "tags": [
                    "MC Templates"
                ],
                "summary": "Get Mailchimp Transactional template information",
                "description": "Returns complete information about a Mailchimp Transactional template including draft and published versions",
                "operationId": "mctemplates/info",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MctemplatesInfoRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/MctemplateNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MctemplatesInfoResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/mctemplates/list": {
            "post": {
                "tags": [
                    "MC Templates"
                ],
                "summary": "List Mailchimp Transactional templates",
                "description": "Returns a list of all Mailchimp Transactional templates for the authenticated user",
                "operationId": "mctemplates/list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MctemplatesListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MctemplatesListResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/mctemplates/render": {
            "post": {
                "tags": [
                    "MC Templates"
                ],
                "summary": "Render a Mailchimp Transactional template",
                "description": "Renders a Mailchimp Transactional template with optional merge variables",
                "operationId": "mctemplates/render",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MctemplatesRenderRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/MctemplateInvalidVersion"
                    },
                    "404": {
                        "$ref": "#/components/responses/MctemplateNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MctemplatesRenderResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/mctemplates/time-series": {
            "post": {
                "tags": [
                    "MC Templates"
                ],
                "summary": "Get Mailchimp Transactional template time series",
                "description": "Returns hourly stats for the last 30 days for a Mailchimp Transactional template. Returns an empty array if the template exists but has never been used to send messages.",
                "operationId": "mctemplates/time-series",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MctemplatesTimeSeriesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/MctemplateNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MctemplatesTimeSeriesResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/messages/send": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Send a new transactional message through the Transactional API.",
                "description": "Send a new transactional message through Mandrill\n\n<table class=\"simple top30 errors\">\n     <thead><tr><th colspan=\"1\">Note</th></tr></thead>\n     <tbody>\n         <tr>\n             <td class=\"param-desc\">\n                 If you signed up for a Mandrill account on or after December 1st, 2015, you must add SPF and DKIM records and verify ownership of your sending domains before you can send email through your account. Mandrill will not send any email from unverified domains or domains without valid SPF and DKIM records, including public domains like gmail.com, yahoo.com, and more.<br><br>Custom signing domains are only available to Mandrill accounts created before December 1st, 2015. If you signed up for a new Mandrill account on or after December 1st, 2015, the signing_domain parameter will be ignored.<br><br>Mail sent from unverified domains or domains without valid SPF and DKIM records will be rejected with the reject_reason, unsigned.<br><br>Learn more about <a href='https://mailchimp.com/developer/transactional/docs/authentication-delivery/#authentication'>SPF and DKIM</a>, and <a href='https://mailchimp.com/developer/transactional/guides/send-first-email/#verify-domain-ownership'>domain verification</a>\n             </td>\n         </tr>\n     </tbody>\n </table>",
                "operationId": "messages/send",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesSendRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "404": {
                        "$ref": "#/components/responses/MessageSubaccountNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesSendResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messages/send-template": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Send a new transactional message using a template",
                "description": "Send a new transactional message using a template. If you signed up for a Mandrill account on or after December 1st, 2015, you must add SPF and DKIM records and verify ownership of your sending domains before you can send email through your account. Mandrill will not send any email from unverified domains or domains without valid SPF and DKIM records, including public domains like gmail.com, yahoo.com, and more. Custom signing domains are only available to Mandrill accounts created before December 1st, 2015. If you signed up for a new Mandrill account on or after December 1st, 2015, the signing_domain parameter will be ignored. Mail sent from unverified domains or domains without valid SPF and DKIM records will be rejected with the reject_reason, unsigned.",
                "operationId": "messages/send-template",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesSendTemplateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "404": {
                        "$ref": "#/components/responses/MessageTemplateOrSubaccountNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesSendTemplateResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/messages/send-mc-template": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Send using Mailchimp template",
                "description": "Send a new transactional message through Mandrill using a Mailchimp Transactional template.",
                "operationId": "messages/send-mc-template",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesSendMcTemplateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "404": {
                        "$ref": "#/components/responses/MessageTemplateOrSubaccountNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesSendMcTemplateResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/messages/search": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Search recently sent messages",
                "description": "Search recently sent messages and optionally narrow by date range, tags, senders, and API keys. Results can include both email and SMS messages. If no date range is specified, results within the last 7 days are returned.",
                "operationId": "messages/search",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesSearchRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MessageServiceUnavailable"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesSearchResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messages/search-time-series": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Get time series data for message search",
                "description": "Search the content of recently sent messages and return the aggregated hourly stats for matching messages.",
                "operationId": "messages/search-time-series",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesSearchTimeSeriesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "503": {
                        "$ref": "#/components/responses/MessageServiceUnavailable"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesSearchTimeSeriesResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/messages/info": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Get information about a single sent message",
                "description": "Returns detailed information about a single sent message. Can return either email or SMS message information depending on the message type.",
                "operationId": "messages/info",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesInfoRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/MessageNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesInfoResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/messages/content": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Get the full content of a sent message",
                "description": "Returns the full content of a recently sent message. For email messages, includes HTML, text, and attachments. For SMS messages, includes text content and SMS-specific fields.",
                "operationId": "messages/content",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesContentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/MessageNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesContentResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/messages/parse": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Parse a MIME message",
                "description": "Parse the full MIME document for an email message, returning the content of the message broken into its constituent pieces.",
                "operationId": "messages/parse",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesParseRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesParseResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/messages/send-raw": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Send a raw MIME message through Mandrill",
                "description": "Send a raw MIME document for a message, and send it exactly as if it were sent through Mandrill's SMTP servers.",
                "operationId": "messages/send-raw",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesSendRawRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "402": {
                        "$ref": "#/components/responses/PaymentRequired"
                    },
                    "404": {
                        "$ref": "#/components/responses/MessageSubaccountNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesSendRawResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/messages/list-scheduled": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Get scheduled emails",
                "description": "Queries your scheduled emails.",
                "operationId": "messages/list-scheduled",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesListScheduledRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesListScheduledResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/messages/cancel-scheduled": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Cancel a scheduled email",
                "description": "Cancels a scheduled email.",
                "operationId": "messages/cancel-scheduled",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesCancelScheduledRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/MessageNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesCancelScheduledResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messages/reschedule": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Reschedule a scheduled email",
                "description": "Reschedules a scheduled email.",
                "operationId": "messages/reschedule",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesRescheduleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/MessageNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesRescheduleResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messages/send-sms": {
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Send SMS message",
                "description": "Send a new SMS message through Mandrill",
                "operationId": "messages/send-sms",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessagesSendSmsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/MessageSmsSubaccountNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessagesSendSmsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metadata/list": {
            "post": {
                "tags": [
                    "Metadata"
                ],
                "summary": "List custom metadata fields",
                "description": "Get the list of custom metadata fields indexed for the account",
                "operationId": "metadata/list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MetadataListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetadataListResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/metadata/add": {
            "post": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Add custom metadata field",
                "description": "Add a new custom metadata field to be indexed for the account",
                "operationId": "metadata/add",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MetadataAddRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetadataAddResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metadata/update": {
            "post": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Update custom metadata field",
                "description": "Update an existing custom metadata field",
                "operationId": "metadata/update",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MetadataUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/MetadataNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetadataUpdateResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metadata/delete": {
            "post": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Delete custom metadata field",
                "description": "Delete an existing custom metadata field. Deletion is not instantaneous, and /metadata/list will continue to return the field until the asynchronous deletion process is complete.",
                "operationId": "metadata/delete",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MetadataDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/MetadataNotFound"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetadataDeleteResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rejects/add": {
            "post": {
                "tags": [
                    "Rejects"
                ],
                "summary": "Add email to rejection blacklist",
                "description": "Adds an email to your email rejection denylist. Addresses that you add manually will never expire and there is no reputation penalty for removing them from your denylist. Attempting to denylist an address that has been whitelisted will have no effect.",
                "operationId": "rejects/add",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RejectsAddRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/RejectSubaccountNotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RejectsAddResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rejects/add-sms": {
            "post": {
                "tags": [
                    "Rejects"
                ],
                "summary": "Add phone number to SMS rejection denylist",
                "description": "Adds a phone number to your SMS rejection denylist. Phone numbers that you add manually will never expire and there is no reputation penalty for removing them from your denylist.",
                "operationId": "rejects/add-sms",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RejectsAddSmsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/RejectSubaccountNotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RejectsAddSmsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rejects/list": {
            "post": {
                "tags": [
                    "Rejects"
                ],
                "summary": "List rejection blacklist entries",
                "description": "Retrieves your email rejection denylist. You can provide an email address to limit the results. Returns up to 1000 results. By default, entries that have expired are excluded from the results; set include_expired to true to include them.",
                "operationId": "rejects/list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RejectsListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/RejectSubaccountNotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RejectsListResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/rejects/list-sms": {
            "post": {
                "tags": [
                    "Rejects"
                ],
                "summary": "List SMS rejection denylist entries",
                "description": "Retrieves your SMS rejection denylist. You can provide a phone number to limit the results. Returns up to 1000 results. By default, entries that have expired are excluded from the results; set include_expired to true to include them.",
                "operationId": "rejects/list-sms",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RejectsListSmsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RejectsListSmsResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/rejects/delete": {
            "post": {
                "tags": [
                    "Rejects"
                ],
                "summary": "Delete email from rejection blacklist",
                "description": "Deletes an email rejection. There is no limit to how many rejections you can remove from your denylist, but keep in mind that each deletion has an affect on your reputation.",
                "operationId": "rejects/delete",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RejectsDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/RejectEmailNotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RejectsDeleteResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rejects/delete-sms": {
            "post": {
                "tags": [
                    "Rejects"
                ],
                "summary": "Delete phone number from SMS rejection denylist",
                "description": "Deletes an SMS rejection. There is no limit to how many rejections you can remove from your denylist, but keep in mind that each deletion has an affect on your reputation.",
                "operationId": "rejects/delete-sms",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RejectsDeleteSmsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/RejectPhoneNotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RejectsDeleteSmsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/senders/list": {
            "post": {
                "tags": [
                    "Senders"
                ],
                "summary": "List senders used by this account",
                "description": "Return the senders that have tried to use this account.",
                "operationId": "senders/list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendersListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SendersListResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/senders/domains": {
            "post": {
                "tags": [
                    "Senders"
                ],
                "summary": "List sender domains",
                "description": "Returns the sender domains that have been added to this account.",
                "operationId": "senders/domains",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendersDomainsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/ServerError"
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SendersDomainsResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/senders/add-domain": {
            "post": {
                "tags": [
                    "Senders"
                ],
                "summary": "Add a sender domain",
                "description": "Adds a sender domain to your account. Sender domains are added automatically as you send, but you can add them ahead of time.",
                "operationId": "senders/add-domain",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendersAddDomainRequest"
                            }
                        }
                    }
                },
                "responses": {
[...]
